KAFKA_BROKER=172.200.204.1:9092
KAFKA_ZEEK_TOPIC=siem_zeek_live_logs
KAFKA_EVENT_LOG_TOPIC=siem_fluentd_events
MONITOR_INTERFACE=eth0

VASTDB_ENDPOINT=http://172.200.204.2:80
VASTDB_DATA_ENDPOINTS=http://172.200.204.2:80
VASTDB_ACCESS_KEY=Y5101AQQTB1PUAEKQXN5
VASTDB_SECRET_KEY=bsqwYOcsvfXxsvtTYruCT24c3w1E1Y8iBpmyoLGr

VASTDB_ZEEK_BUCKET=csnow-db
VASTDB_ZEEK_SCHEMA=siem
VASTDB_ZEEK_TABLE_PREFIX="zeek_"

VASTDB_FLUENTD_BUCKET=csnow-db
VASTDB_FLUENTD_SCHEMA=siem
VASTDB_FLUENTD_TABLE_PREFIX="fluentd_"

JUPYTER_PASSWORD=123456